global:
  scrape_interval:     15s 
  evaluation_interval: 15s 

#rule_files:
#  - "rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
    - targets: ['prometheus:9090']

  - job_name: 'flask-app'
    scrape_interval: 5s
    static_configs:
    - targets: ['app:5000']